# res.add(String.join("\t", Character.toString(word.charAt(0))0, word1, pos2, "S"3, preWord4, preWordPos5, postWord6, postWordPos7));
# Unigram
U01:%x[-1,0]
U02:%x[0,0]
U03:%x[1,0]

UprePos:%x[0,5]
UpreWord:%x[0,4]
UpostWord:%x[0,6]
UpostPos:%x[0,7]

U08:%x[-1,0]/%x[0,0]
U09:%x[0,0]/%x[1,0]
U06:%x[-1,0]/%x[1,0]

# Bigram
B