# Unigram: word, length, pos, le, re, tf, mi
U00:%x[0,1]
U01:%x[0,2]
U02:%x[0,3]
U03:%x[0,4]
U04:%x[0,5]
U05:%x[0,6]

U06:%x[-1,1]/%x[0,1]
U07:%x[0,1]/%x[1,1]

U08:%x[-1,2]/%x[0,2]
U09:%x[0,2]/%x[1,2]

U10:%x[0,4]/%x[1,3]

U11:%x[-1,5]/%x[0,5]
U12:%x[0,5]/%x[1,5]
