# Unigram: word, length, pos, le, re, tf, pmi, mi with previous word


Uword-2:%x[-2,0]
Uword-1:%x[-1,0]
Uword0:%x[0,0]
Uword+1:%x[0,0]
Uword+2:%x[0,0]

U01:%x[-1,0]
U02:%x[0,0]
U03:%x[1,0]

U08:%x[-1,0]/%x[0,0]
U09:%x[0,0]/%x[1,0]
U06:%x[-1,0]/%x[1,0]

B